<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Password Reset instructions</title>
</head>
<body>
<div id="container" style=" padding: 10px;  border-radius: 2px; box-shadow: 0 2px 6px 1px rgba(0,0,0,0.33); background-color: #F5FFFF;background: rgb(248,248,248);
  border: 1px solid #F5F5FF; filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=0,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=270,strength=5); position: relative;
  overflow: hidden; min-height: 250px; height: auto; ">
    <div style=" margin-bottom:5px; display: block; border-bottom: 1px solid darkorange; width: 100%; margin-top: 5px; margin-bottom: 5px;"> <a href="http://localhost:9000/" style="cursor: pointer; font-weight: bold;">tradeIO</a> Please follow these instructions to reset your password </div>
    <div> Please click this <a href="http://localhost:9000/password-reset/__activationCode__">Link</a> to reset your password</div>

    <div style="margin-top:50px; "> Sincerely,</div>
    <div> The tradeio team.</div>
</div>
</body>
</html>
